main{
    background-color: var(--blackish-color);
    color: var(--white-color);
}



.particles-js{
    position: relative;
    height: 900px;
}
.Landing{
    position: absolute;
    top: 0;
    background-color: transparent;
    color: var(--white-color);
    height: 100%;
    width: 100%;
    text-align: center;
}
.Landing .main-heading{
    font-size: 100px;
}
.Landing h2{
    color: var(--ted-red);
}
.Landing .box h3{
    font-size: 32px;
}
.Landing .current_date{
    color: var(--ted-red);
    font-size: 30px;
    font-family: 600;
}



.Speakers{
    height: auto;
    padding: 200px 50px 50px 50px;
    text-align: center;
}
.Speakers .main-heading{
    font-size: 70px;
}
.Speakers p{
    color: var(--light-black-color);
    font-size: 30px;
}
.Speakers .speakers-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
.Speakers .speakers-grid .card{
    position: relative;
    width: 300px;
    border-top: var(--ted-red) 5px solid;
    border-radius: 5px;
    padding: 16px;
    margin: 50px 16px;
    box-shadow: rgba(136, 136, 136, 0.2) 0px 8px 24px;
    background-color: var(--blackish-color);
    color: var(--white-color);
}
.Speakers .speakers-grid .card figure{
    margin: auto;
    display: relative;
    top: -50px;
}
.Speakers .speakers-grid .card figure{
    position: absolute;
    top: -125px;
    left: 25px;
}
.Speakers .speakers-grid .card figure,
.Speakers .speakers-grid .card figure img{
    width: 250px;
    height: auto;
    border-radius: 50%;
}
.Speakers .speakers-grid .card .info{
    padding: 140px 16px 16px 16px;
    border-radius: 10px 10px 0px 0px;
}
.Speakers .speakers-grid .card .info h1{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 8px;
}
.Speakers .speakers-grid .card  .info h2{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: var(--ted-red);
    padding-bottom: 16px;
}
.Speakers .speakers-grid .card  .info p{
    text-align: left;
    font-size: 16px;
    color: inherit;
}
.Speakers .speakers-grid .card  .info .social-media{
    font-size: 24px;
    color: var(--dull-white-color);
}



.About-Section{
    min-height: 900px;
    height: auto;
    padding: 40px 0px;
}
.About-Section .about-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    justify-content: center;
    align-items: center;
}
.About-Section .about-grid div h2{
    font-size: 32px;
    text-align: center;
    color: var(--ted-red);
}
.About-Section .about-grid div p{
    font-size: 20px;
    color: var(--dull-white-color);
    padding: 10px 0px;
    line-height: 1.4;
}



/* ---------- MEDIA QUERY ---------- */



@media(max-width: 1100px){

    .Landing .main-heading{
        font-size: 70px;
    }

    .Speaker-Section .speaker-grid .card{
        margin: 70px 16px;
    }

    .About-Section .about-grid{
        grid-gap: 30px;
    }
}


@media(max-width: 700px){
    
    .Landing{
        height: 600px;
    }
    .Landing .main-heading{
        font-size: 50px;
    }
    .Landing .box h3,
    .Landing .current_date{
        font-size: 24px;
        font-family: 600;
    }

    .Speakers .main-heading{
        font-size: 30px;
    }
    .Speakers p{
        font-size: 24px;
    }
    /*.Speakers .speakers-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        justify-content: center;
        align-items: center;
        margin: 30px 0px;
    }
    .Speakers .speakers-grid .card{
        width: 300px;
        margin: auto;
    }*/

    .About-Section .about-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        justify-content: center;
        align-items: center;
    }
    .About-Section .about-grid div{
        max-width: 600px;
        padding: 0rem 1rem;
    }
    .About-Section .about-grid div h2{
        font-size: 24px;
    }
    .About-Section .about-grid div p{
        font-size: 16px;
    }
    
}

@media(max-width: 560px){
    
    .Landing .main-heading{
        font-size: 30px;
    }
}