/*----------GLOBAL CSS----------*/



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*font-family: 'Roboto', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
/*font-family: 'Monoton', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: 'Alegreya', serif;*/



*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body::-webkit-scrollbar {
    display: none;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}
img{
    width: 100%;
}



/*----------PSUDO CLASSES----------*/



:root {
    --ted-red: rgba(252, 38, 1, 1);
    --ted-red-light: rgb(255, 95, 67);

    --border-color: rgb(44, 44, 44);
    
    --dull-white-color: rgb(207, 207, 207);
    --white-color: #fff;
    --light-black-color: rgb(70, 70, 70);
    --blackish-color: #070707;
    --black-color: #000;
}



/*----------UTILITY CLASSES----------*/



.container{
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin:0 auto;
}

/* Flex */

.just-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.stretch-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    height: 100%;
}

.space-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.space-flex div{
    text-align: center;
}

.social-flex{ /*no media query*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Other Utility Classes */

.space-for-fixed-header{
    padding: 40px 0px;
}

.full-height{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-heading{
    font-family: 'Monoton', cursive;
    color: var(--white-color);
    background-color: var(--blackish-color);
    padding: 40px 0px;
    line-height: 1;
    background: transparent;
}
.box{
    padding-top: 40px;
}
.social-media{
    padding: 20px 0px;
    font-size: 40px;
}
.social-media div{
    margin: 0px 30px;
}

.open{
    display: block;
}
.hide{
    display: none;
}

/* Hover */

.linkedin-logo:hover{
    color: #0e76a8;
    transition: 0.4s ease-out;
}
.instagram-logo:hover{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    transition: 0.4s ease-out;
}
.twitter-logo:hover{
    color: #1DA1F2;
    transition: 0.4s ease-out;
}



/*----------ID'S CLASSES----------*/



.Nav-Header{
    background-color: var(--blackish-color);
    color: var(--white-color);
    padding: 20px 0px;
    border-bottom: var(--border-color) 1px solid;
    position: fixed;
    z-index: 2;
    opacity: 2;
    width: 100%;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.Nav-Header .header-container figure,
.Nav-Header .header-container figure img{
    height: 40px;
    width: auto;
}
.Nav-Header .header-container .desktop-nav ul li{
    padding: 0em 15px;
    font-size: 1em;
    font-weight: 500;
} 
.Nav-Header .header-container .desktop-nav ul li.buy-ticket{
    color: var(--white-color);
    background-color: var(--ted-red);
    border: var(--ted-red) 1.5px solid;
    padding: 8px 13.5px;
    border-radius: 5px;
}
.Nav-Header .header-container .desktop-nav ul li.buy-ticket:hover{
    color: var(--white-color);
    background: transparent;
    transition: 0.5s ease-out;
}
.Nav-Header .header-container .desktop-nav ul li a:hover,
footer ul li a:hover{
    color: var(--ted-red-light);
    transition: 0.5s ease-out;
}

.Nav-Header .header-container .mobile-nav button{
    font-size: 16px;
    padding: 8px;
    color: var(--white-color);
    background-color: transparent;
    border: var(--white-color) 1px solid;
    border-radius: 4px;
}

@media(min-width: 1000px){
    .desktop-nav{
        display: inline-block;
        transition: 0.35s linear;
    }
    .mobile-nav{
        display: none;
        transition: 0.35s linear;
    }
}
@media(max-width: 1000px){
    .desktop-nav{
        display: none;
        transition: 0.35s linear;
    }
    .mobile-nav{
        display: contents;
        text-align: right;
        transition: 0.35s linear;
    }
}

.Menu-Window{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 3;
    opacity: 3;
}
.Menu-Window .menu-box{
    height: auto;
    width: 200px;
    border: var(--border-color) 1px solid;
    border-radius: 10px;
    padding: 16px;
    color: var(--white-color);
    background: linear-gradient(-120deg, #d62121, #c72c2c, #3a1111);
}
.Menu-Window .menu-box .box-header{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Alegreya', serif;
    border-bottom: var(--white-color) 1px solid;
    padding: 4px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.Menu-Window .menu-box .box-header button{
    font-size: 24px;
    padding: 8px;
    color: var(--white-color);
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    border: none;
}
.Menu-Window .menu-box ul{
    padding: 16px;
}
.Menu-Window .menu-box ul li{
    padding: 8px 0px 2px 0px;
    margin: 16px 0px;
    box-sizing: content-box;
    font-size: 16px;
    font-family: 'Alegreya', serif;
}



footer{
    padding: 100px 0px;
    background-color: var(--blackish-color);
    color: var(--white-color);
}
footer figure,
footer figure img{
    height: 60px;
    width: auto;
}
footer h2{
    color: var(--ted-red);
    padding: 20px 0px;
    text-align: center;
}
footer ul li{
    margin-bottom: 15px;
}
footer ul li i{
    padding-right: 10px;
}



/* ---------- MEDIA QUERY ---------- */



@media(max-width: 1100px){

    .space-flex{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .space-flex .one{
        grid-column: 1/3;
    }
    .space-flex div{
        padding-bottom: 30px;
    }
}


@media(max-width: 700px){

    .space-flex{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .space-flex .one{
        grid-column: 1/2;
    }

    .social-media{
        padding: 20px 0px;
        font-size: 32px;
    }
    .social-media div{
        margin: 0px 20px;
    }
}